<ion-header>
  <style class="set-grid"></style>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <app-immagine-devskill></app-immagine-devskill>
          <br />
          <br />
          <br />
          <br />
          <app-messaggio></app-messaggio>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item>
            <ion-label for="username" position="stacked">Username</ion-label>
            <ion-input id="username" formControlName="username"></ion-input>
          </ion-item>
          <h6 class="h6">Insert Username</h6>
          <br />
          <ion-item>
            <ion-label for="email" position="stacked">E-mail</ion-label>
            <ion-input id="email" formControlName="email"></ion-input>
          </ion-item>
          <h6 class="h6">Insert E-mail account</h6>
          <br />
          <ion-item>
            <ion-label for="password" position="stacked">Password</ion-label>
            <ion-input
              type="password"
              id="password"
              formControlName="password"
            ></ion-input>
          </ion-item>
          <h6 class="h6">Insert password</h6>
          <br />
          <ion-item>
            <ion-label for="cPassword" position="stacked"
              >Conferma password</ion-label
            >
            <ion-input
              type="password"
              id="cPassword"
              name="cPassword"
            ></ion-input>
          </ion-item>
          <h6 class="h6">Insert password</h6>
          <div class="ion-float-right">
            <app-bottone-personalizzato
            indirizzo="/login"
            testo="Hai già un account? Effettua il login!"
          ></app-bottone-personalizzato>
            <ion-button type="block" shape="round">Sign in</ion-button>
          
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
