<ion-header>
  <style class="set-grid"></style>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <img src="assets\logo_devskill@2x.png"> 
            <br/>
            <br/>
            <br/>
          </ion-col>
         </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-item>
              <ion-label for="name" position="stacked">Name</ion-label>
              <ion-input id="name" name="name"></ion-input>
            </ion-item>
            <h6 class="h6">Insert name</h6>
            <br/>
            <ion-item>
              <ion-label for="surname" position="stacked">Surname</ion-label>
              <ion-input id="surname" name="surname"></ion-input>
            </ion-item>
            <h6 class="h6">Insert surname</h6>
            <br/>
            <ion-item>
              <ion-label for="email" position="stacked">E-mail</ion-label>
              <ion-input id="email" name="emaile"></ion-input>
            </ion-item>
            <h6 class="h6">Insert E-mail account</h6>
            <br/>
            <ion-item>
              <ion-label for="password" position="stacked">Password</ion-label>
              <ion-input type="password" id="password" name="password"></ion-input>
            </ion-item>  
            <h6 class="h6">Insert password</h6> 
            <div class="ion-float-right">
              <ion-button type="block" shape="round">Save</ion-button>
             </div>   
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
  </form>
</ion-content>
