<ion-header>
    <ion-toolbar class="toolbar-container">
      <ion-title>
        Convertitore
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-grid style="padding: 10%; width:80%;">
  
      <ion-row class="riga1">
        <ion-col>
          <h1>Temperatura</h1>
          <ion-row>
            <app-input-generico unita1="C" unita2="F"></app-input-generico>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="riga1">
        <ion-col>
          <h1>DIstanza</h1>
          <ion-row>
            <app-input-generico unita1="KM" unita2="MI"></app-input-generico>
          </ion-row>
        </ion-col>
      </ion-row>

      <div style="margin-left: 43.5%; padding-top: 20px;">
      <ion-row>
        <ion-button color="light">Restart</ion-button>
      </ion-row>
    </div>
    </ion-grid>
  </ion-content>
