.toolbar-container{
    background-color:rgb(79, 84, 0);
text-align: center;
}
:root {

 --ion-color-primary: rgb(79, 84, 0);


}

.griglia {
border-color: rgb(247, 252, 168); 
border-width: .01em; 
border-style:solid; margin-top : 15px;
background-color: rgb(247, 252, 168)
}

.riga1 {
border-color: rgb(204, 210, 105); 
border-width: .01em; 
border-style:solid; margin-top : 15px;
background-color: rgb(204, 210, 105)
}









